.mainCard{
    border-bottom: 8px solid rgb(8, 16, 128);
    height: 240px;
}
.images{
    border-radius: 7px;
}
.highlight{
    background-color: rgba(128, 240, 240, 0.918);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
}
/* card style when no hover */
.card{
    border-radius: 7px;
    border: 3px solid gray;
}
/* card style when hover */
.card:hover{
    background-color: rgb(238, 255, 255);
    border: 3px solid black;
}
/* button style when no hover */
.btn-back{
    background-color: #145cf7;
}
/* button style when hover */
.btn-back:hover{
    background-color: #08276b;
}